body{background-image:C:\Users\Rajender\Desktop\WBDN\SITE;margin:0px;width:100%;}
.navigation{background-color:green;height:0.4in;width:100%;margin:0px;}
.wrapper{width:100%}
.container1{height:5in;width:10%;float:left;}
.container2{height:5in;width:79.7%;float:left;}
.container3{height:5in;width:10%,float:right;}
footer{text-align:right;background-color:none;color:none;margin-right:21px;}
a:link,a:visited{background:color:yellow;color:red;padding:px px;text-align:;text-decoration:none;display:;}
a:hover,a:active{background-color:red;}
a:link{color:black;margin-top:100px;}
a:visited{color:pink;}
a:hover{color:blue;}
a:active{color:yellow;}




.manu-bar{
background:green;
text-align:left;}
.manu-bar ul
{display:inline-flex;
list-style:none;color:green;}
.manu-bar  ul li
{
width:120px;
margin:8px;
padding:2px
}
.manu-bar ul li a
{
text-decoration:none;
color:white;
}
.active, .manu-bar ul li:hover{
background: ;
border-redius: 0px;

}
.manu-bar .fa
{
margin-right:2px;
}
iframe:focus {
  outline: none;
}

iframe[seamless] {
  display: block;
}
